.App {
  font-family: "Oxygen", sans-serif;
  font-weight: bolder;
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 20px;
}

.App footer {
  font-size: 8px;
  text-align: center;
  margin: 0 auto;
}

a {
  color: #2646c9;
  opacity: 0.6;
}
