.App {
  font-family: "Oxygen", sans-serif;
  font-weight: bolder;
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  padding: 10px;
  border-radius: 20px;
  background-image: url("https://www.fg-a.com/wallpapers/marble-white-1-2018.jpg");
}

p {
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
}

a {
  color: #2646c9;
  opacity: 0.6;
  font-weight: bold;
}
