.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
}

form {
  margin: 0 auto;
  display: block;
  max-width: 600px;
  padding: 50px 60px;
  text-align: center;
}

.Weather {
  font-size: 30px;
  font-weight: 600;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
