.Weather {
  font-size: 30px;
  font-weight: 600;
}

.Weather form .btn {
  border: 5px groove #5dc4e1;
  background: #5dc4e1;
  color: #1f6f8b;
  border-radius: 4px;
  font-weight: bolder;
  transition: all 300ms ease;
  width: 100px;
  line-height: 0.8;
}

.Weather form .btn:hover {
  background: linear-gradient(#1f6f8b, #99c3cb);
  color: #5dc4e1;
  border: 5px groove #1f6f8b;
}

.Weather form {
  margin: 0 auto;
  width: 100%;
}

.Weather h1 {
  margin: 20px 0 0 0;
  color: #ff3467;
  font-size: 32px;
  font-weight: 600;
  line-height: 29px;
  padding: 15px 0px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #145374;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
}

.Weather .temperature {
  color: #00334e;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: #97237a;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}
