.Weather {
  font-size: 30px;
  font-weight: 600;
}

.Weather form .btn {
  border: 3px groove #867c71;
  background: linear-gradient(#726c6e, #aaadb4);
  color: #f3f4f8;
  border-radius: 4px;
  transition: all 300ms ease;
  width: 100px;
  line-height: 0.8;
}

.Weather form .btn:hover {
  background: #f3f4f8;
  color: #726c6e;
  border: 3px groove #867c71;
}

.Weather form {
  margin: 0 auto;
  width: 100%;
  color: #726c6e;
}

.Weather h1 {
  margin: 20px 0 0 0;
  color: #867c71;
  font-size: 34px;
  font-weight: 300;
  line-height: 29px;
  padding: 15px 0px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #757575;
  font-size: 16px;
  font-weight: 550;
  line-height: 19px;
  list-style: none;
  padding: 5px 5px;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
}

.Weather .temperature {
  color: #555555;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: #555555;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}

.WeatherInfo .time {
  font-size: 20px;
  padding: 0 50px;
  margin-top: 0px;
  text-decoration: underline;
}
